@import './index.scss';

/* Page width is less than576px
------------------------------- */
@media screen and (max-width: $xs) {
	.el-form-item__label {
		width: 100% !important;
		text-align: left !important;
		// Mobile label Right alignment problem
		justify-content: flex-start !important;
	}
	.el-form-item__content {
		margin-left: 0 !important;
	}
	.el-form-item {
		// When responsive form，The login page needs to be reprocessed
		display: unset !important;
	}
	// Form filtering in table presentation
	.table-form-btn {
		display: flex !important;
		.el-form-item__label {
			width: auto !important;
		}
	}
	// Maximum height for form filtering in table presentation，Adapt to mobile terminal
	.table-search-container {
		max-height: 160px;
		overflow: auto;
	}
}
