/* Grid layout（Media query variables）
* https://developer.mozilla.org/zh-CN/docs/Learn/CSS/CSS_layout/Media_queries
* $us ≥376px  Responsive grid
* $xs ≥576px  Responsive grid
* $sm ≥768px  Responsive grid
* $md ≥992px  Responsive grid
* $lg ≥1200px Responsive grid
* $xl ≥1920px Responsive grid
------------------------------- */
$us: 376px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;
