@import './index.scss';

/* Page width is less than576px
------------------------------- */
@media screen and (max-width: $xs) {
	// MessageBox Pop-up frame
	.el-message-box {
		width: 80% !important;
	}
}

/* Page width is less than768px
------------------------------- */
@media screen and (max-width: $sm) {
	// Breadcrumb Bread crumbs
	.layout-navbars-breadcrumb-hide {
		display: none;
	}
	// External link view
	.layout-view-link {
		a {
			max-width: 80%;
			text-align: center;
		}
	}
	// Menu Search
	.layout-search-dialog {
		.el-autocomplete {
			width: 80% !important;
		}
	}
}

/* Page width is less than1000px
------------------------------- */
@media screen and (max-width: 1000px) {
	// Layout configuration
	.layout-drawer-content-flex {
		position: relative;
		&::after {
			content: 'Mobile version does not support switching layout';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			text-align: center;
			height: 140px;
			line-height: 140px;
			background: rgba(255, 255, 255, 0.9);
			color: #666666;
		}
	}
	// pagination Toolbar in pagination
	.table-footer-tool {
		display: none !important;
	}
}
