[mysql]
#set upmysqlClient default character set
default-character-set=utf8
socket=/var/lib/mysql/mysql.sock


[mysqld]
# skip-grant-tables
#mysql5.7Deal with future incompatibility issues
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemdd
#Maximum number of connections allowed
max_connections=1000
#The character set used by the server is8bit-encodedlatin1Character Set
character-set-server=utf8
#The default storage engine that will be used when creating a new table
default-storage-engine=INNODB
lower_case_table_names=1
max_allowed_packet=16M
#Set the time zone
default-time_zone='+8:00'

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/lib/mariadb/mariadb.pid
