@import 'mixins/index.scss';

/* Button Button
------------------------------- */
// Third-party font icon size
.el-button:not(.is-circle) i.el-icon,
.el-button i.iconfont,
.el-button i.fa,
.el-button--default i.iconfont,
.el-button--default i.fa {
	font-size: 14px !important;
	margin-right: 5px;
}
.el-button--small i.iconfont,
.el-button--small i.fa {
	font-size: 12px !important;
	margin-right: 5px;
}

/* Input Input box、InputNumber counter
------------------------------- */
// Menu Search
.el-autocomplete-suggestion__wrap {
	max-height: 280px !important;
}

/* Form Form
------------------------------- */
.el-form {
	// The problem of too large interval between form content when modifying pop-up windows，For example, the form content in the new menu pop-up window is set by the system
	.el-form-item:last-of-type {
		margin-bottom: 22px !important;
	}
	// Fix the last in-line form el-form-item Position downward problem
	&.el-form--inline {
		.el-form-item--large.el-form-item:last-of-type {
			margin-bottom: 22px !important;
		}
		.el-form-item--default.el-form-item:last-of-type,
		.el-form-item--small.el-form-item:last-of-type {
			margin-bottom: 18px !important;
		}
	}
	// https://gitee.com/lyt-top/vue-next-admin/issues/I5K1PM
	.el-form-item .el-form-item__label .el-icon {
		margin-right: 0px;
	}
}

/* Alert warn
------------------------------- */
.el-alert {
	border: 1px solid;
}
.el-alert__title {
	word-break: break-all;
}

/* Message Message prompt
------------------------------- */
.el-message {
	min-width: unset !important;
	padding: 15px !important;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.02);
}

/* NavMenu Navigation menu
------------------------------- */
// mouse hover When color
.el-menu-hover-bg-color {
	background-color: var(--next-bg-menuBarActiveColor) !important;
}
// Default style modification
.el-menu {
	border-right: none !important;
	width: 220px;
}
.el-menu-item {
	height: 56px !important;
	line-height: 56px !important;
}
.el-menu-item,
.el-sub-menu__title {
	color: var(--next-bg-menuBarColor);
}
// Fixed when clicking on the left menu to collapse and expand，The width does not follow the problem
.el-menu--collapse {
	width: 64px !important;
}
// When external links
.el-menu-item a,
.el-menu-item a:hover,
.el-menu-item i,
.el-sub-menu__title i {
	color: inherit;
	text-decoration: none;
}
// Third-party icon font spacing/Size settings
.el-menu-item .iconfont,
.el-sub-menu .iconfont,
.el-menu-item .fa,
.el-sub-menu .fa {
	@include generalIcon;
}
// Horizontal menu、Horizontal menu highlighted Background color，mouse hover hour，Background color with child menu
.el-menu-item.is-active,
.el-sub-menu.is-active .el-sub-menu__title,
.el-sub-menu:not(.is-opened):hover .el-sub-menu__title {
	@extend .el-menu-hover-bg-color;
}
.el-menu-item:hover {
	@extend .el-menu-hover-bg-color;
}
.el-sub-menu.is-active.is-opened .el-sub-menu__title {
	background-color: unset !important;
}
// Child menu background color
// .el-menu--inline {
// 	background: var(--next-bg-menuBar-light-1);
// }
// Horizontal menu、Horizontal menu fold a Label
.el-popper.is-dark a {
	color: var(--el-color-white) !important;
	text-decoration: none;
}
// Horizontal menu、Horizontal menu fold background color
.el-popper.is-pure.is-light {
	// Horizontal menu
	.el-menu--vertical {
		background: var(--next-bg-menuBar);
		.el-sub-menu.is-active .el-sub-menu__title {
			color: var(--el-menu-active-color);
		}
		.el-popper.is-pure.is-light {
			.el-menu--vertical {
				.el-sub-menu .el-sub-menu__title {
					background-color: unset !important;
					color: var(--next-bg-menuBarColor);
				}
				.el-sub-menu.is-active .el-sub-menu__title {
					color: var(--el-menu-active-color);
				}
			}
		}
	}
	// Horizontal menu
	.el-menu--horizontal {
		background: var(--next-bg-topBar);
		.el-menu-item,
		.el-sub-menu {
			height: 50px !important;
			line-height: 50px !important;
			color: var(--next-bg-topBarColor);
			.el-sub-menu__title {
				height: 50px !important;
				line-height: 50px !important;
				color: var(--next-bg-topBarColor);
			}
			.el-popper.is-pure.is-light {
				.el-menu--horizontal {
					.el-sub-menu .el-sub-menu__title {
						background-color: unset !important;
						color: var(--next-bg-topBarColor);
					}
					.el-sub-menu.is-active .el-sub-menu__title {
						color: var(--el-menu-active-color);
					}
				}
			}
		}
		.el-menu-item.is-active,
		.el-sub-menu.is-active .el-sub-menu__title {
			color: var(--el-menu-active-color);
		}
	}
}
// Horizontal menu（classic、Horizontal）layout
.el-menu.el-menu--horizontal {
	border-bottom: none !important;
	width: 100% !important;
	.el-menu-item,
	.el-sub-menu__title {
		height: 50px !important;
		color: var(--next-bg-topBarColor);
	}
	.el-menu-item:not(.is-active):hover,
	.el-sub-menu:not(.is-active):hover .el-sub-menu__title {
		color: var(--next-bg-topBarColor);
	}
}

/* Tabs Tags
------------------------------- */
.el-tabs__nav-wrap::after {
	height: 1px !important;
}

/* Dropdown Pull-down menu
------------------------------- */
.el-dropdown-menu {
	list-style: none !important; /*repair Dropdown Drop-down menu style problem 2022.03.04*/
}
.el-dropdown-menu .el-dropdown-menu__item {
	white-space: nowrap;
	&:not(.is-disabled):hover {
		background-color: var(--el-dropdown-menuItem-hover-fill);
		color: var(--el-dropdown-menuItem-hover-color);
	}
}

/* Steps Steps
------------------------------- */
.el-step__icon-inner {
	font-size: 30px !important;
	font-weight: 400 !important;
}
.el-step__title {
	font-size: 14px;
}

/* Dialog Dialog Box
------------------------------- */
.el-overlay {
	overflow: hidden;
	.el-overlay-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		position: unset !important;
		width: 100%;
		height: 100%;
		.el-dialog {
			margin: 0 auto !important;
			position: absolute;
			.el-dialog__body {
				padding: 20px !important;
			}
		}
	}
}
.el-dialog__body {
	max-height: calc(90vh - 111px) !important;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Card card
------------------------------- */
.el-card__header {
	padding: 15px 20px;
}

/* Table sheet element plus 2.2.0 Version
------------------------------- */
.el-table {
	.el-button.is-text {
		padding: 0;
	}
	th.el-table__cell{
		-webkit-user-select: text !important;
		-moz-user-select: text !important;
		-ms-user-select: text !important;
		user-select:text !important;
	}

}

/* scrollbar
------------------------------- */
.el-scrollbar__bar {
	z-index: 4;
}
/*Prevent page switching，The problem of scroll bar height unchanged（Scroll bar height Non-scroll bar scroll height）*/
.el-scrollbar__wrap {
	max-height: 100%;
}
.el-select-dropdown .el-scrollbar__wrap {
	overflow-x: scroll !important;
}
/*repairSelect Selector height problem*/
.el-select-dropdown__wrap {
	max-height: 274px !important;
}
/*repairCascader Cascading selector height problem*/
.el-cascader-menu__wrap.el-scrollbar__wrap {
	height: 204px !important;
}
/*For interface height adaptability（main.vue），distinguish scrollbar__view，Prevent other uses scrollbar The scroll bar disappears in the place*/
.layout-container-view .el-scrollbar__view {
	height: 100%;
}
/*Prevent the column layout of secondary menus from a lot，Scrollbar disappearing problem*/
.layout-columns-warp .layout-aside .el-scrollbar__view {
	height: unset !important;
}

/* Pagination Pagination
------------------------------- */
.el-pagination__editor {
	margin-right: 8px;
}
/*Issues for highlighting pages in dark mode*/
.el-pagination.is-background .btn-next.is-active,
.el-pagination.is-background .btn-prev.is-active,
.el-pagination.is-background .el-pager li.is-active {
	background-color: var(--el-color-primary) !important;
	color: var(--el-color-white) !important;
}

/* Drawer drawer
------------------------------- */
.el-drawer {
	--el-drawer-padding-primary: unset !important;
	.el-drawer__header {
		padding: 0 15px !important;
		height: 50px;
		display: flex;
		align-items: center;
		margin-bottom: 0 !important;
		border-bottom: 1px solid var(--el-border-color);
		color: var(--el-text-color-primary);
	}
	.el-drawer__body {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}
