<!DOCTYPE html>
<html data-dpr="1" style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Privacy Policy</title>
    <link href="/static/clause/privacy.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body class="app" style="font-size: 0.28rem;">
<div class="main">
    <h3>Privacy Policy</h3>
    <br>Update date：2024Year01moon01day
    <br>Effective Date：2024Year01moon01day
    <br>
    <br>Welcome to useDvAdminproduct。DvAdminPay great attention to user's personal information and privacy protection，To provide you with more accuracy at the same time、Have personalized services and a safer Internet environment，We are based on《Cybersecurity Law of the People's Republic of China》、《Information security technology Personal information security specifications》（GB/T35273-2017）As well as other relevant laws, regulations and technical specifications have been formulated《Privacy Policy》，Described the relevant rights about your personal information, etc.。
    <br>
    <br>This policy applies to all ourDvAdminSeries of products and services，This policy is with our products you use/Or services are closely related，You are downloading、Install、start up、Browse、register、Log in、Products using Jumeng Technology and/Or when serving，We will process and protect your personal information in accordance with the provisions of this policy。We will try to be simple、A brief statement explains to you the technical vocabulary involved in this policy，Make it easier for you to understand。
    <br>
    <br>You are usingDvAdminProducts and/Or when serving，Jumeng Technology may collect and use your relevant information。to this end，Hope to pass this《Privacy Policy》Explain to you，How to obtain Jumeng Technology、use、Save and manage this information。Please use/Before continuing to use our products and services，Read carefully and fully understand this policy，We should focus on reading in bold/Terms of bold underlined logo，And when needed，In accordance with the guidelines of this policy，Make the appropriate choice。If you do not agree to the content of this policy，Will lead to our products with/Or the service does not function properly，Or it cannot achieve the service effect we intend to achieve，You should stop accessing immediately/Use our products with/Or service。You use or continue to use the products we provide with/or the behavior of the service，All indicate that you fully understand and agree with this《Privacy Policy》All contents。
    <br>
    <br>Books《Privacy Policy》Will help you understand the following：
    <br><a href="#1_chapter">Chapter 1 How to collect your personal information</a>
    <br><a href="#2_chapter">Chapter 2 How to use your personal information</a>
    <br><a href="#3_chapter">Chapter 3 How to useCookieAnd similar technologies</a>
    <br><a href="#4_chapter">Chapter 4 How to share、transfer、Disclose your personal information publicly</a>
    <br><a href="#5_chapter">Chapter 5 How to protect your personal information</a>
    <br><a href="#6_chapter">Chapter 6 How to save your personal information</a>
    <br><a href="#7_chapter">Chapter 7 manage、View or delete your personal information</a>
    <br><a href="#8_chapter">Chapter 8 How to process children's personal information</a>
    <br><a href="#9_chapter">Chapter 9 How to update this policy</a>
    <br><a href="#10_chapter">Chapter 10 Complaints and suggestions</a>
    <br><a href="#11_chapter">Chapter 11 other</a>
    <br>
    <h1 id="1_chapter">Chapter 1 How to collect your personal information</h1>
    <br>
    <br>When you use our products/When serving，we need to/Your personal information that may need to be collected and used includes the following two types of information:：
    <br>The first type：To achieve the implementation of our products and/Or the basic functions of the service，You must authorize us to collect、Necessary information to use。If you refuse to provide the corresponding information，You will not be able to use our products normally/Or service；
    <br>The second type：To achieve the implementation of our products and/or additional features of the service，You may choose to agree or disagree with us to collect、Information used。If you refuse to provide，You will not be able to use the relevant additional functions normally or you will not be able to achieve the functional effects we intend to achieve，It will not affect your use of our basic functions。
    <br>
    <br>Personal sensitive information means that once it is leaked、Illegal provision or abuse may endanger personal and property safety，It can easily lead to personal reputation、Personal information about physical and mental health damage or discriminatory treatment, etc.，Such as personal property information、Personal health physiological information、Personal biometric information、Personal Identification Information、Network identity information and other information。
    <br>What is included in the above information，All fromGB/T35273《Information security technology Personal information security specifications》。
    <br>
    <h3>1.1 You provide relevant personal information to Jumeng Technology</h3>
    <h4>1.1.1
        For the use of Jumeng Technology products and/Or service，You first need to register an account and log in。You can choose to use WeChat、Create Jumeng Technology products and other methods/Or the service account and log in（"Account login"）。</h4>
    <h5>1.1.1.1 Log in to Jumeng Technology Products through a third-party WeChat account and/Or when serving，You agree that we obtain the information you authorized to share from WeChat（Including mobile phone number、Location information、Nick name、Avatars, etc.），
        And you agree to include your third-party account with your Jumeng Technology products and/Or service account binding，Allows you to log in directly through a third-party account and use Jumeng Technology's products and/Or service，And use this account to synchronize data between different devices。
        We will make an agreement with third parties，And on the premise of complying with relevant laws and regulations，Use personal information you authorized to share。If you refuse to agree to Jumeng Technology to obtain information you authorized to share from a third party，You will not be able to register an account and log in through WeChat，It is also impossible to synchronize data with the help of this third-party account。</h5>
    <h4>1.1.2 When you use Jumeng Technology products and/Or when serving，You may be managed by account、Contact Jumeng Technology Customer Service for product use and other issues。to this end，You may need to provide your name to Jumeng Technology、phone number、System operation record、photo、Bank account number、Account of third-party payment platform、
        Communication records and contents for contacting Jumeng Technology are used with you using Jumeng Technology products and/or service-related information，For you to contact the customer service staff of Jumeng Technology，And help you solve related problems。
        If you refuse to provide relevant information，Jumeng Technology may not be able to help you solve related problems。</h4>
    <h3>1.2 Jumeng Technology collects relevant equipment and network information you use</h3>
    <h4>1.2.1
        When you use Jumeng Technology's products and/Or when serving，Jumeng Technology will collect information about the relevant equipment you are using，To provide you with continuous and stable service support，Let you use Jumeng Technology's products and/Or get the best experience during the service process。The relevant device information you use collected by Jumeng Technology includes browser information、Network information（IPaddress）、Log information（Such as operation log、Service log）etc.。</h4>
    <h3>1.3 Information collected from you by Jumeng Technology</h3>
    <h4>1.3.1
        To enhance Jumeng Technology products and/or the service experience and convenience，Jumeng Technology may collect your personal information as follows by calling device permissions.。If you do not agree to provide these personal information，You may not be able to use features related to improving user experience，You may also need to use Jumeng Technology products and/Or manually fill in some information during the service process。</h4>
    <h4>1.3.2
        If you want to upload your avatar to Jumeng Technology and/Or other image information，You can choose to authorize Jumeng Technology to call the camera or album permissions in the device you are using。</h4>
    <h4>1.3.3
        If you want to complete payments quickly and easily through third-party mobile operators，If your device supports it，You can choose to authorize the call to the mobile operation-related permissions in the device you are using（Like text message），So that you can complete payment quickly and easily。</h4>
    <h4>1.3.4
        If you want to implement or experience the above functions，You may need to enable your corresponding access permissions to Jumeng Technology in your device。You can also choose to close the corresponding access permission at any time to cancel the corresponding authorization。In different devices，The permission display method and closing method may be different，Please refer to the instructions or guidelines of the equipment and system developers for details.。</h4>
    <h3>1.4 The information collected from you in the third place</h3>
    <h4>1.4.1 Third-party payment service providers collect relevant personal information</h4>
    <h5>1.4.1.1
        You can obtain Jumeng Technology products and/or service-related products。The above payment services may be provided by third parties other than Jumeng Technology，Jumeng Technology will not obtain passwords and other information related to your payment。But you may obtain your third-party payment account from you or a third-party payment platform（WeChat account）。If you want to know the specific rules for third-party service providers to collect personal information，Please refer to the privacy policy of the third-party payment service provider you choose。</h5>
    <h3>1.5 You know it fully，In the following situations，We collect、Use of personal information without your authorization and consent：</h3>
    <h4>1.5.1 With national security、National defense security related；</h4>
    <h4>1.5.2 With public safety、Public Health、Related to major public interests；</h4>
    <h4>1.5.3 and crime investigation、Prosecution、Trial and judgment execution, etc.；</h4>
    <h4>1.5.4 To maintain the lives of the subject of personal information or other individuals、Major legal rights and interests such as property but it is difficult to obtain my consent；</h4>
    <h4>1.5.5 The personal information collected is disclosed to the public by the subject of personal information on its own.；</h4>
    <h4>1.5.6 Your personal information collected from legally disclosed information，Such as legal news reports、Government information disclosure and other channels；</h4>
    <h4>1.5.7 As required to sign and perform the contract according to your requirements；</h4>
    <h4>1.5.8 Used to maintain the products provided and/or necessary for the safe and stable operation of the service，For example, find、Disposal of products and/or service failure；</h4>
    <h4>1.5.9 Other circumstances stipulated by laws and regulations。</h4>
    <h3>1.6
        According to the law，Provide de-identified personal information to third parties，And ensure that the data recipient cannot restore and re-identify the subject of personal information，External sharing of personal information、Transfer and public disclosure，The storage and processing of such data will not be required to notify you and obtain your consent.。</h3>
    <br>
    <h1 id="2_chapter">Chapter 2 How to use your personal information</h1>
    <br>
    <h2>After collecting your personal information，Jumeng Technology will use your personal information according to the following rules：</h2>
    <br>
    <h3>2.1 Will be based on this《Privacy Policy》The agreement and the product of the realization of Jumeng Technology/Or the service function uses the collected personal information。</h3>
    <h3>2.2
        Please note，For your products and/or all personal information provided during the service，Unless you delete or refuse our collection through relevant settings，Otherwise you will be using the product and/Error 500 (Server Error)!!1500.That’s an error.There was an error. Please try again later.That’s all we know.、We continue to authorize our use before deregistration。</h3>
    <h3>2.3
        Jumeng Technology series products or services conduct statistics on usage，and may share these statistics with the public or third parties，To display Jumeng Technology products and/Or overall use trends of the service。But these statistics do not contain any of your identification information。</h3>
    <h3>2.4
        When Jumeng Technology wants to use your personal information for other purposes not specified in this policy，or when using information collected for a specific purpose for other purposes，Jumeng Technology will take the initiative to seek your express consent in advance。</h3>
    <br>
    <h1 id="3_chapter">Chapter 3 How to useCookieAnd similar technologies</h1>
    <h2>Jumeng Technology has not used any information collection tools yet。</h2>
    <br>
    <h1 id="4_chapter">Chapter 4 How to share、transfer、Disclose your personal information publicly</h1>
    <h2>shared</h2>
    <h3>4.1 Jumeng Technology will strictly abide by relevant laws and regulations，Keep your personal information confidential。Except for the following situations，We do not share your personal information with others：</h3>
    <h4>4.1.1 Get your express consent or authorization in advance；</h4>
    <h4>4.1.2 According to applicable laws and regulations，or provided based on mandatory requirements of judicial or administrative authorities；</h4>
    <h4>4.1.3
        Within the scope permitted by laws and regulations，To protect the lives of you or other Jumeng Technology users or other individuals、It is necessary to provide legal rights and interests such as property or public interests.；</h4>
    <h4>4.1.4 Provide your information at the legal request of your guardian；</h4>
    <h4>4.1.5 According to the relevant agreement signed with you（Including online signed electronic agreements and corresponding platform rules）or other legal documents provided；</h4>
    <h4>4.1.6 According to this《Privacy Policy》Share with third parties；</h4>
    <h4>4.1.7
        Jumeng Technology may share your personal information with the company's affiliates based on your corresponding authorization.。But Jumeng Technology only shares necessary personal information，And be accepted《Privacy Policy》The constraints of the purpose。 If the affiliates of Jumeng Technology want to change the purpose of processing personal information，You will be given express consent at the right time。</h4>
    <h3>4.2
        The company that shares personal information with Jumeng Technology、Organizations and individuals，We will make reasonable efforts to comply with relevant laws and regulations when processing your personal information，Try to require them to take relevant confidentiality and security measures，To ensure the security of your personal information。</h3>
    <h2>transfer</h2>
    <h3>4.3 Jumeng Technology will not transfer your personal information to any company、Organizations and individuals，But except for the following situations：</h3>
    <h4>4.3.1 Get your express consent or authorization in advance；</h4>
    <h4>4.3.2 According to applicable laws and regulations、Requirements for legal proceedings、Mandatory administrative or judicial requirements must be provided；</h4>
    <h4>4.3.3
        Involved in acquisition、merger、Bankruptcy liquidation、When major changes such as reorganization，If it involves transfer of personal information，Jumeng Technology will require new companies or organizations that hold your personal information to continue to perform this《Privacy Policy》Responsibilities and obligations under the。If the changed subject needs to change the purpose of using personal information，We will ask for your express consent in advance。</h4>
    <h2>Public disclosure</h2>
    <h3>4.4 Jumeng Technology will only be in the following situations，And on the premise of taking safety protection measures that meet industry standards，Your personal information will be disclosed publicly：</h3>
    <h4>4.4.1According to your needs，Disclose the personal information you specify under the disclosure method you expressly agree to；</h4>
    <h4>4.4.2
        According to law、Requirements of regulations、Mandatory requirements of administrative or judicial organs，We may disclose your personal information publicly。When Jumeng Technology received the above disclosure request，Jumeng Technology Association requires the requesting party to issue relevant legal documents in accordance with the law，Such as subpoena or letter of investigation, etc.。Jumeng Technology will carefully review every disclosure request，To ensure that such disclosure requests comply with relevant laws and regulations。Under the premise of permission of laws and regulations，Jumeng Technology will take encryption protection measures for documents containing disclosed information。</h4>
    <br>
    <h1 id="5_chapter">Chapter 5 How to protect your personal information</h1>
    <h3>5.1
        Jumeng Technology attaches great importance to personal information security，And take all reasonable and feasible measures，Continuously protect your personal information，In case others access unauthorized、Tamper with or disclose your personal information collected by Jumeng Technology：</h3>
    <h4>5.1.1
        Jumeng Technology has adopted industry-standard security measures to protect your personal information，Prevent unauthorized access to data、Public disclosure、use、Revise、Damaged or lost。We will take all reasonable and feasible measures，Protect your personal information。We use trusted protection mechanisms to prevent data from being attacked by malicious attacks。</h4>
    <h4>5.1.2
        Jumeng Technology only allows people who need to know to access relevant personal information，A strict access permission control and monitoring mechanism has been set up for this。Jumeng Technology also requires all persons who may be exposed to your personal information to fulfill their corresponding confidentiality obligations.。If these obligations are not met，May be held accountable or terminated for the corresponding legal relationship with Jumeng Technology。</h4>
    <h3>5.2 Jumeng Technology will take all reasonable and feasible measures，Make sure no unrelated information is collected。</h3>
    <h3>5.3
        You understand，Due to technical limitations and various malicious means that may exist，In the Internet industry，Even if we do our best to strengthen safety measures，But it is impossible to always ensure that the information is 100% absolutely safe.。You need to know and know，You are connected to Jumeng Technology's products and/or the system and communication network used for the service，There may be problems due to other factors outside our controllable range，In this case，We will do our best to assist in the solution according to law。</h3>
    <h3>5.4
        If an information security accident occurs unfortunately，We will follow the requirements of laws and regulations，Tell you in a timely manner：Basic situations and possible impacts of security incidents、We have taken or will take disposal measures、You can prevent and reduce risks independently, etc.。We will also promptly use the relevant situations of the incident to email、Letter、Telephone、Tell you appropriate methods such as push notifications；When it is difficult to inform the information subject one by one，We will take reasonable、Publish announcements in an effective way。at the same time，We will also follow the regulatory requirements，Proactively report the handling of information security incidents。</h3>
    <br>
    <h1 id="6_chapter">Chapter 6 How to save your personal information</h1>
    <h2>Shelf life</h2>
    <h3>6.1 Use Jumeng Technology products and/Or during service，Jumeng Technology will continue to save users' personal information。</h3>
    <h3>6.2
        Jumeng Technology promises to always store your personal information within a reasonable and necessary period in accordance with the law.，For log information、Record backup and other information for you after you cancel your account180sky（However, according to the law, there is a minimum shelf life requirement，Then we will keep the minimum period required by law）；The transaction information is three years from the date of completion of the transaction or after you cancel your account180sky（The longer ones shall prevail）。After the above period exceeds，We will delete or anonymize your relevant information。</h3>
    <h2>Preservation area</h2>
    <h3>6.3 All your personal information will be stored in the territory of the People's Republic of China。</h3>
    <h3>6.4 At present, we do not have any scenarios for providing personal information to overseas countries。</h3>
    <br>
    <h1 id="7_chapter">Chapter 7 manage、View or delete your personal information</h1>
    <h2>Jumeng Technology respects your rights to your personal information very much。We guarantee your access to personal information、correct、delete、Management rights。</h2>
    <br>
    <h2>Access and correct your personal information</h2>
    <h3>7.1
        Unless otherwise provided by laws and regulations，You have the right to exercise data access。When you find that there are errors in our processing of personal information about you or you have other modifications、When supplementing demand，You also have the right to request that we make corrections on your own。The ways in which you exercise your right to access and correct data include, but are not limited to：</h3>
    <h4>7.1.1
        If you wish to access or modify your products in Jumeng Technology and/Or account information in the service，Including avatar、Nick name、gender、Birthday, etc.，You can access our products and/Or the service to operate（Can be clicked“mine”Operation after function）。</h4>
    <h4>7.1.2
        Rujumeng Technology's products and/or post topics available in the service、Participate in the discussion、Message and other functions give you the opportunity to disclose or provide personal information through these services，When providing the aforementioned services, Jumeng Technology will provide corresponding functions to ensure that you can access or delete the personal information you disclosed or provided during the aforementioned services.。</h4>
    <h3>7.2
        You have the right to know the identity or type of third party who obtained your personal information through Jumeng Technology。You can learn about the identity or type of third parties through Chapters 1 and 4 of this policy。</h3>
    <br>
    <h2>Delete your personal information and withdraw your consent authorization</h2>
    <h3>7.3 In the following cases，You can request to Jumeng Technology to delete personal information：</h3>
    <h4>7.3.1 If Jumeng Technology's behavior of processing personal information violates relevant laws and regulations；</h4>
    <h4>7.3.2 If Jumeng Technology Collects、Use your personal information，But you did not obtain your consent；</h4>
    <h4>7.3.3 If Jumeng Technology's behavior of processing personal information violates the agreement with you or the provisions of the law；</h4>
    <h4>7.3.4 If you no longer use Jumeng Technology's products and/Or service，Or you have cancelled the relevant account；</h4>
    <h4>7.3.5 If Jumeng Technology no longer provides you with products and/Or service。</h4>
    <h3>7.4
        You have the right to withdraw your previous consent to collect from Jumeng Technology、Authorization to use your personal information。When you withdraw your consent，We will no longer process your personal information。But you withdraw your consent，It will not affect the personal information processing activities carried out based on your authorization.。</h3>
    <h3>7.5 You may withdraw your previous consent authorization to us by deleting relevant personal information by deleting relevant personal information。</h3>
    <h2>Log out of account</h2>
    <h3>7.6
        You have the right to apply at any time，Cancel your products in Jumeng Technology and/Or the account registered in the service。To ensure the safety of your account and property，You need to use customer service or《Privacy Policy》Chapter 10 Contact information stated in submitting your account cancellation request to Jumeng Technology。Jumeng Technology will verify the relevant information with you15Cancel your account within one working day。</h3>
    <h3>7.7
        Please note，Revoke Jumeng Technology related products and/Or the service account is unrecoverable。After canceling the account，We will stop providing you with products and/Or service，Your personal information under this account will be deleted，Unless otherwise provided by laws and regulations。</h3>
    <h2>Constrain the automatic decision-making of information systems</h2>
    <h3>7.8
        Jumeng Technology only based on information system、Non-artificial automatic decision-making mechanisms including algorithms make decisions，And if these decisions significantly affect your legitimate rights and interests，You have the right to ask Jumeng Technology to explain，Jumeng Technology will also provide appropriate relief methods。</h3>
    <h2>Obtain a copy of personal information</h2>
    <h3>7.9
        According to your request，Jumeng Technology can provide you with copies of your personal information held by Jumeng Technology（Such as basic personal information）。You can use Customer Service or《Privacy Policy》Request to us in the contact information stated in Chapter 10。</h3>
    <h2>Respond to your request</h2>
    <h3>
        7.10If you visit Jumeng Technology in the above、correct、Delete your personal information，and withdrawal of consent、Log out of account、Any questions about the automatic decision-making method of constraining information systems，You can use Customer Service or《Privacy Policy》Contact us as stated in Chapter 10。</h3>
    <h3>7.11
        For your reasonable request，In principle, Jumeng Technology does not charge any fees，But for repeated、Requests beyond reasonable limits，Jumeng Technology will charge a certain fee depending on the situation。For those repetitions that are unreasonable、Too many technical means required、pose risks or very unrealistic requests to the legitimate rights and interests of others，Jumeng Technology may refuse。</h3>
    <h3>7.12 In the following situations，We may not be able to respond to your request</h3>
    <h4>7.12.1 With national security、National defense security related；</h4>
    <h4>7.12.2 With public safety、Public Health、Related to major public interests；</h4>
    <h4>7.12.3 and crime investigation、Prosecution and trial related；</h4>
    <h4>7.12.4 There is evidence that you have subjective malicious intentions or abuse of your rights；</h4>
    <h4>7.12.5 Responding to your request will lead to other individuals、The legitimate rights and interests of the organization are seriously damaged；</h4>
    <h4>7.12.6 Business secrets involved。</h4>
    <h2>Complaint Mechanism</h2>
    <h3>7.13
        Jumeng Technology has established a complaint management mechanism，Including tracking process, etc.。To ensure the safety of your account and property，Jumeng Technology may verify relevant information with you。Jumeng Technology will accept and process your request as soon as possible after receiving your feedback.，No more than the maximum15Working days。If you are not satisfied with the reply，You can appeal again through customer service。Please refer to Chapter 10 for details on the contact information and related specific information on the appeal.。</h3>
    <br>
    <br>
    <h1 id="8_chapter">Chapter 8 Protection of children's information</h1>
    <h3>8.1
        Our products and services are mainly for adults。Jumeng Technology attaches great importance to the protection of information for minors。If you are not full18A minor aged one，Should be under the guardian、Read this carefully with guidance and approval from the guardian《Privacy Policy》and the products of Jumeng Technology and/Or service。</h3>
    <h3>8.2 If you/Your guardian does not agree with this《Privacy Policy》Any content of，You should stop using our products immediately/Or service。</h3>
    <h3>8.3
        If you are the guardian of a minor，When you use our products for minors you are custody/or the Service or the User Information it provides to us has any questions，Please contact us in time。We will protect the confidentiality and security of user information of minors in accordance with relevant national laws and regulations and the provisions of this policy.。If we find ourselves collecting personal information of minors without prior verifiable guardian consent，Then try to delete the relevant data as soon as possible。</h3>
    <br>
    <h1 id="9_chapter">Chapter 9 How to update this policy</h1>
    <h3>9.1 Ru Jumeng Technology Products and/Or the following changes have occurred in the service，Jumeng Technology will promptly review this《Privacy Policy》Make corresponding revisions：</h3>
    <h4>9.1.1 Jumeng Technology Products and/Or the business functions involved in the service have changed，The purpose of the processing of personal information、type、How to use has changed；</h4>
    <h4>9.1.2 Your rights in participating in the processing of personal information and their exercises have undergone significant changes in your rights.；</h4>
    <h4>9.1.3 The contact information of the department responsible for handling your personal information security has changed.；</h4>
    <h4>9.1.4 Other changes that may affect the security of users' personal information or affect the privacy rights of users, etc.。</h4>
    <h3>9.2
        《Privacy Policy》After the revised Jumeng Technology will be available in Jumeng Technology products and/Or the service-related interface releases the latest version and pop-up window、Tell users in reasonable ways such as push notifications，So that users can understand it in a timely manner《Privacy Policy》Latest version。</h3>
    <h3>9.3 Without your express consent，Jumeng Technology will not reduce your base《Privacy Policy》Rights enjoyed。</h3>
    <h3>9.4 If there is no special instructions，Revised《Privacy Policy》Effective from the date of publication。</h3>
    <br>
    <h1 id="10_chapter">Chapter 10 Complaints and suggestions</h1>
    <h3>10.1
        You are using Jumeng Technology products and/or during the service process，If this is correct《Privacy Policy》Have any doubts or suggestions，Or you believe that your personal information has not been obtained《Privacy Policy》Prescribed protection，You can contact us by:，We will handle your complaints and suggestions sincerely。</h3>
    <h4>Company Name：Beijing Jumeng Technology Information Technology Co., Ltd.</h4>
    <h4>Contact Email：qiangli@django-vue-admin.com</h4>
    <h4>WeChat public account：Jumeng Technology（9:00-22:00）</h4>
    <br>
    <h1 id="11_chapter">Chapter 11 other</h1>
    <h3>11.1 Any dispute arising from this policy and our handling of your personal information，You can sue the people's court with jurisdiction。</h3>
    <h3>11.2 If you believe that our personal information processing behavior has harmed your legitimate rights and interests，You can also report to the relevant government departments。</h3>
    <h3>11.3
        Release this in Jumeng Technology《Privacy Policy》Or provide you with products and/Or the service is deemed to be《Privacy Policy》Take effect。Jumeng Technology ceases operations or permanently stops providing products and/Or service time《Privacy Policy》Ineffective。</h3>
    <br>
</div>


</body>
</html>
