<!DOCTYPE html>
<html data-dpr="1" style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Service Agreement</title>
    <link href="/static/clause/privacy.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body class="app" style="font-size: 0.28rem;">
<div class="main">
    <h3>Service Usage Agreement</h3>
    <br>Update date：2024Year01moon01day
    <br>Effective Date：2024Year01moon01day
    <br>Books《DvAdminService Usage Agreement》It's you（Next"user"）It is used between Beijing Jumeng Technology Technology Co., Ltd.DvAdminAgreement signed during registration or login in the product，Jumeng Technology products includedjango-vue-adminproduct。Please read the following terms carefully，Click“agree”The button indicates consent to the relevant terms。If you have any questions or comments after reading this agreement，Please contact Jumeng Technology customer service staff，Contact Email：qiangli@django-vue-admin.cn，WeChat public account：Jumeng Technology（9:00-18:00）。
    <br>
    <h2>one、Important Notes</h2>
    <h3>
        1、Users should read carefully（Minors should read with their guardians）、Fully understand the terms of this agreement。Unless the user accepts this agreement，Users should immediately stop registering and using。</h3>
    <h3>2、The user clicks during the registration process“agree”The button means that the user fully accepts all terms and conditions under this Agreement。</h3>
    <br>
    <h2>two、Service content</h2>
    <h3>1、The specific content of Jumeng Technology's service is provided by Jumeng Technology based on actual conditions，</h3>
    <h3>2、User understanding，Jumeng Technology only provides software-related services，
        In addition to the equipment related to related software services（Like a mobile phone、Personal computers and other devices related to accessing the Internet or mobile network）and the required fees（If the telephone and Internet access fee are paid for access to the Internet、Mobile phone fees paid for using mobile network）All shall be borne by the user。</h3>
    <h3>
        3、The user agrees to Jumeng Technology for the purpose of the implementation of this agreement or related research.、Use or authorize third parties（Moreover, these third parties agree to assume the same obligation to protect personal information as Jumeng Technology）Use user information obtained through the service non-commercial（Including but not limited to identity information、gender、Profession、Hobbies and other information）。Jumeng Technology promises，Unless otherwise obtained from the user's prior consent，Otherwise, Jumeng Technology will not authorize user information to third parties not related to the performance of this agreement for commercial purposes.。</h3>
    <h3>5、According to relevant laws and regulations and national standards，In the following cases，Jumeng Technology may collect and use user's personal information in accordance with the law without obtaining user's consent:</h3>
    <h4>（1）With national security、Directly related to national defense security；</h4>
    <h4>（2）With public safety、Public Health、Major public interests are directly related to；</h4>
    <h4>（3）and crime investigation、Prosecution、Directly related to trial and judgment execution；</h4>
    <h4>（4）To maintain the lives of users or others、Major legal rights and interests such as property but are difficult to obtain the consent of the user；</h4>
    <h4>（5）The personal information collected is disclosed to the public by the user.；</h4>
    <h4>（6）Collect personal information from legally disclosed publicly，For example：Legal news reports、Government information disclosure and other channels；</h4>
    <h4>（7）Necessary to sign and perform contracts according to user's requirements；</h4>
    <h4>（8）Necessary for maintaining the safe and stable operation of the provided services，For example：Discover、Dispose of product or service failures；</h4>
    <h4>（9）Necessary for legal news reporting；</h4>
    <h4>
        （10）Academic research institutions are necessary to conduct statistics or academic research institutes based on the public interest，When providing academic research or description results to the outside world，Deidentify the personal information contained in the results；</h4>
    <h4>（11）Other circumstances stipulated by laws and regulations。</h4>
    <h3>6、In the following cases，Jumeng Technology provides users' personal information to third parties without prior authorization and consent：</h3>
    <h4>（1）With national security、National defense security related；</h4>
    <h4>（2）With public safety、Public Health、Related to major public interests；</h4>
    <h4>（3）and crime investigation、Prosecution、Trial and judgment execution, etc.；</h4>
    <h4>（4）To maintain the lives of users or other individuals、Major legal rights and interests such as property but it is difficult to obtain my consent；</h4>
    <h4>（5）Personal information disclosed to the public by users；</h4>
    <h4>（6）Collect personal information from legally disclosed information，Such as legal news reports、Government information disclosure and other channels。</h4>
    <h3>
        According to the law，Provide de-identified personal information to third parties，And ensure that the data recipient cannot restore and re-identify the subject of personal information，External sharing of personal information、Transfer and public disclosure，The storage and processing of such data will not be required to notify the user separately and obtain the user's consent.。</h3>
    <h3>This agreement involves the use of personal information provided by users by Jumeng Technology，If《Privacy Policy》Not consistent，by《Privacy Policy》Whichever。</h3>
    <br>
    <h2>three、User usage rules</h2>
    <h3>1、After the user authorizes WeChat login successfully，Users have the right to use Jumeng Technology software functions，Including participation in activities、Terminal management、Dealer business management, etc.。</h3>
    <h3>2、Users have the right to use the functions provided by Jumeng Technology to upload photos、Share personal information。</h3>
    <h3>3、Users must comply with relevant national laws and regulations when using Jumeng Technology，The content shall not contain information that is one of the following contents：</h3>
    <h4>a) Oppose the basic principles established by the Constitution；</h4>
    <h4>b) Endangering national security，Leaking state secrets，Subvert the state's regime，Destroy national unity；</h4>
    <h4>c) To harm national honor and interests；</h4>
    <h4>d) Incite national hatred、Ethnic discrimination、Destroy national unity；</h4>
    <h4>e) Destroy national religious policies，Promote cults and feudal superstitions；</h4>
    <h4>f) Spread rumors，Disrupting social order，Destroy social stability；</h4>
    <h4>g) Spread obscene、pornography、gamble、Violence、Killing、Terror or instigating crime；</h4>
    <h4>h) Insult or slander others，Infringe upon the legal rights of others；</h4>
    <h4>i) Contains false、harmful、Coercion、Infringe upon others' privacy、Harassment、Infringement、Injured、vulgar、obscene、or other morally offensive content；</h4>
    <h4>j) Contains Chinese law、Regulations、Regulations、The Ordinance and any other content limited or prohibited by any regulation with legal effect；</h4>
    <h4>k) Contains content that Jumeng Technology believes is not conducive to Jumeng Technology's operation。</h4>
    <h3>
        4、Users are guaranteed to release when using Jumeng Technology、The authenticity of the information transmitted、accuracy，Guarantee not to post rumors or other remarks that are inconsistent with the facts and cause discomfort in others、information。</h3>
    <h3>
        5、Users guarantee that when using Jumeng Technology, they are not allowed to release it、Disseminate information that infringes on intellectual property rights or other legitimate rights and interests。The user's responsibility is the legality of the relevant authorization or other content that involves the intellectual property ownership of third parties in the content that is disseminated by users.，Jumeng Technology does not review or supervise the intellectual property ownership of relevant content or whether it infringes on other people's civil rights and interests.，However, the responsibilities of deleting or disconnecting the content suspected of infringement will be performed in accordance with relevant regulations, such as deleting or disconnecting the links.。</h3>
    <h3>
        6、If the user occurs the above3-6When the behavior of，All violations are borne by the user、Tort liability，If any losses are caused to Jumeng Technology, Jumeng Technology has the right to claim relevant responsibilities to the responsible users.。at the same time，Jumeng Technology has the right to violate the law、Infringement、Violating users terminate service provision。If the government or judicial authorities require Jumeng Technology to inform the users of the infringement of specific information，Jumeng Technology has the right to inform it of user information in accordance with current regulations。</h3>
    <h3>
        7、Users agree that Jumeng Technology has the right to serve various commercial advertisements or any other types of commercial information in various ways during the service provision process.，and，User agrees to accept Jumeng Technology to send product promotions or other related commercial information to users through email or other means。</h3>
    <h3>
        8、The authenticity of registration information promised by the user、legality、Take full responsibility for effectiveness，Users are not allowed to pretend to be others；Do not publish any information in the name of others or enjoy any services provided by Jumeng Technology.；Malicious use of registered accounts may not lead to misidentification by other users；Otherwise, Jumeng Technology has the right to stop providing services immediately，Retrieve its account and the user shall bear all legal responsibilities arising from this。</h3>
    <br>
    <h2>Four、Service Changes、Interrupt or terminate</h2>
    <h3>
        1、Given the particularity of the service，Users agree that Jumeng Technology has the right to change at any time、Interrupt or terminate some or all of the services。If changed、Interrupted or terminated services are free，Jumeng Technology does not need to notify users，There is no responsibility for any user or any third party。</h3>
    <br>
    <h2>five、Jumeng Technology Corporate Customer Service Instructions</h2>
    <h3>
        1、Jumeng Technology Platform is provided to many corporate customers，Corporate customers publish user activities through Jumeng Technology platform, etc.。If Kung Fu Enterprise Mars Enterprise Users violate the privacy policy or other behaviors that infringe on user rights and interests occurs，Users can ask Jumeng Technology to provide necessary cooperation to communicate and protect rights with Jumeng Technology corporate users.，The costs incurred during the rights protection process shall be borne by the user。</h3>
    <br>
    <h2>six、Other matters</h2>
    <h3>
        1、Jumeng Technology has the right to change according to laws and regulations、The website and the corresponding Jumeng Technology operation need to modify this agreement and the content of this website from time to time,And post on the website and on the prominent location of Jumeng Technology。Once the modified agreement is posted on this site, it will take effect.,and replace the original agreement,Users can log in at any time to check the latest agreement。Users are obliged to pay attention to and read the latest version of the agreement and website announcement in a timely manner。If the user does not agree to the updated agreement，You can immediately provide feedback to Jumeng Technology and you should immediately stop accepting the services provided by Jumeng Technology in accordance with this agreement.；If the user continues to use the services provided by this site,That is, it is deemed to agree to the updated agreement。</h3>
    <h3>2、This agreement is clicked by the user“agree”、“accept”Take effect afterward。</h3>
    <h3>3、The titles of all terms of this Agreement are for convenience only,No legal or contractual effect。</h3>
    <h3>4、Within the scope permitted by law， The right to interpret this agreement belongs to Jumeng Technology。</h3>
</div>

</body>
</html>
